/* SF Pro Font - Web version */
@font-face {
    font-family: 'SF Pro Display';
    font-weight: 100 900;
    font-style: normal;
    src: url('https://sf.abarba.me/SF-Pro-Display-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display';
    font-weight: 100 900;
    font-style: normal;
    src: url('https://sf.abarba.me/SF-Pro-Display-Semibold.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'SF Pro Display';
    font-weight: 100 900;
    font-style: normal;
    src: url('https://sf.abarba.me/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'SF Pro Text';
    font-weight: 100 900;
    font-style: normal;
    src: url('https://sf.abarba.me/SF-Pro-Text-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Text';
    font-weight: 100 900;
    font-style: normal;
    src: url('https://sf.abarba.me/SF-Pro-Text-Semibold.otf') format('opentype');
    font-weight: 600;
}
